# BEGIN theme-switcher
term_palette: {{background}};{{accent}};7A8A78;8C8570;727C8C;8C7A86;748C88;{{foreground}}
term_palette_bright: {{idle}};{{accent}};9AAC96;B0A88C;96A0B0;A692A0;9CB0AC;{{foreground}}

term_background: FF{{background}}
term_foreground: {{foreground}}
term_background_bright: FF{{idle}}
term_foreground_bright: {{foreground}}

interface_branding_color: {{accent}}
interface_help_color: {{accent}}
interface_help_color_bright: {{accent}}

term_font: boot():/limine_font.F09
term_font_scale: 1x1

wallpaper: boot():/wallpaper.png
wallpaper_style: centered
# END theme-switcher
